APP_URL=http://localhost:8000
ROCKET_SECRET_KEY=8w/xZKjK5j3N921DFlywpQtrwnBC+fQ7VKe2V9Z7q40=
ROCKET_PROFILE=debug # use release for compile release binary
DATABASE_URL=mysql://username:password@localhost:3306/db-name
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
MODEL_URL=http://your-model-api-host-with-gpt-chat-template.tld
MODEL_API_KEY=your-model-api-key
GEMINI_API_KEY=your-gemini-api-key
MIDTRANS_URL=https://api.sandbox.midtrans.com
MIDTRANS_SERVER_KEY=your-midtrans-server-key
BYPASS_VISION=true
ELEVENLABS_API_KEY=your-elevenlabs-api-key
ELEVENLABS_VOICE_ID=your-voice-id