APP_URL=http://localhost:8000
DATABASE_URL=mysql://username:password@localhost:3306/db-name
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
ROCKET_SECRET_KEY=8w/xZKjK5j3N921DFlywpQtrwnBC+fQ7VKe2V9Z7q40=
ROCKET_ADDRESS=0.0.0.0
ROCKET_PORT=8000